<div class='row new-order'>
  <hr>
  <div class="col-lg-2">
    <h4 class='brand'>Address</h4>
    <%= render current_order.address %>
  </div>
  <%= form_for current_order do |f| %>
    <div class='col-lg-5'>
      <h4 class='brand'>Credit Card</h4>
      <%= f.fields_for :credit_card do |cc| %>
        <div class='form-group'>
          <%= cc.label :name do %>
            Name
            <%= cc.text_field :name, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= cc.label :number do %>
            Number
            <%= cc.text_field :number, class: "form-control" %>
          <% end %>
        </div>

        <div class='form-group'>
          <%= cc.label :expiration do %>
            Expiration
            <%= cc.text_field :expiration, class: "form-control" %>
            <p class="help-block">(mm/yy)</p>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class='col-lg-5'>
      <h4 class='brand'>Shipping Option</h4>
      <div class='shipping-options well'>
        <span class='brand'>
          <% @ship_options.each do |option| %>
              <%= f.label :ship_option do %>
                  <div class= "ship_radio_button" id= "<%= option.price %>" style = "display:inline">
                    <%= f.radio_button :ship_option, option.id %>
                  </div>
                  <%= option.name %>
                  <ul class ="ship_opt_details">
                <li> price: $<%= Money.new(option.price.to_f) %> </li>
                <li> estimated delivery: <%= option.delivery ? option.delivery : "Not Available" %> </li>
                </ul>
              <% end %>
          <% end %>
        </span>
      </div>
      <%= f.submit "Checkout", class: "btn btn-success btn-block" %>
    </div>

  <% end %>
</div>
