<table class='table cart'>
  <thead>
  </thead>
  <tbody>
    <% order.items.each do |item| %>
      <tr>
        <td width="100"><%= image_tag item.product.image.url(:thumb) %></td>
        <td width="99%" class='brand'><%= link_to item.product.name, item.product %></td>
        <td><%= item.total.format %></td>
      </tr>
    <% end %>
    <% if order.ship_option %>
      <tr>
        <td width="100"> </td>
        <td class='brand' width= '75%'> <%= order.ship_option.name %> </td>
        <td style='text-align:right'> <%= Money.new(order.ship_option.price).format %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
